  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="cadastro">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="relatorio">Relatório</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="venda_do_produto">Venda do Produto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pagina_de_compra">Página de Compra</a>
        </li>
      </ul>
    </div>

      <form class="d-flex" action="logout" method="POST">
          {% csrf_token %}
        <button class="btn btn-primary rounded-5 me-3" type="submit">Logout</button>
      </form>
  </nav>