<!DOCTYPE html>
<html lang="pt-br">
<head>

    <title>Cadastro de Produtos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Importação do bootstrap -->

    {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

     <!-- Fim da importação do Bootstrap -->

</head>

<body>


{% include "navbar.html" %}

 <div class="container mt-3">

<form action="cadastro" method="post">
    {% csrf_token %}
    <h1>Cadastro de Produtos</h1>
    <p>Cadastre o novo Produto no Banco de Dados abaixo:</p>

    <div class="mb-3 mt-3">
    <label for="Categoria" class="form-label">Categoria:</label>
    <input type="text" class="form-control" id="Categoria" placeholder="Cerv, Refri, Destil, Gelo, Carvão etc" name="Categoria">
    </div>

    <div class="mb-3 mt-3">
    <label for="Marca" class="form-label">Marca:</label>
    <input type="text" class="form-control" id="Marca" placeholder="Skol, Brahma, Coca, Fanta etc" name="Marca">
    </div>

    <div class="mb-3 mt-3">
    <label for="Produto e Sabor" class="form-label">Produto e Sabor:</label>
    <input type="text" class="form-control" id="Produto e Sabor" placeholder=" Coca Zero, Fanta Uva, Puro Malte etc" name="Produto e Sabor">
    </div>

    <div class="mb-3 mt-3">
    <label for="Tipo" class="form-label">Tipo:</label>
    <input type="text" class="form-control" id="Tipo" placeholder="Garrafa Pet, Lata, Pacote, Fardo" name="Tipo">
    </div>

    <div class="mb-3 mt-3">
    <label for="Volume" class="form-label">Volume:</label>
    <input type="text" class="form-control" id="Volume" placeholder="1 litro, 1 kg, 600ml etc" name="Volume">
    </div>



    <div>
           <button input type="submit" value="enviar" class="solid" onclick="alert ('Cadastrado com Sucesso')">Enviar</button>
    </div>
    <div>
    <button type="reset" class="clear">Limpar</button>
    </div>



 </form>


     <table class="table table-hover">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Marca</th>
        <th>Produto e Sabor</th>
        <th>Tipo</th>
        <th>Volume</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
    {% for p in produtos %}
      <tr>
        <td>{{p.categoria}}</td>
        <td>{{p.marca}}</td>
        <td>{{p.produto_sabor}}</td>
        <td>{{p.tipo}}</td>
        <td>{{p.volume}}</td>


        <td>
    <form action="cadastro" method="post">
         {% csrf_token %}
            <button type="submit" name="deletar" value="{{p.item_id}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
            </button>

    </form>


        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

 </div>
 </body>


</html>