<!DOCTYPE html>
<hmtl>
    <head>
          <title>Pagina de Venda</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Importação do bootstrap -->
          {% load static %}
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
          <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
          <!-- Fim da importação do Bootstrap -->
    </head>

    <body>

        {% include "navbar.html" %}
        <div class="container mt-3">
                <h1>Venda do produto</h1>
                <form action="venda_do_produto" method="post">
                {% csrf_token %}

                    {% for i in lista_ids %}
                    <div class="input-group mb-3">
                        <span class="input-group-text"><b>Item {{i}}</b></span>
                        <input class="form-control w-50" list="itens" name="item_{{i}}" id="item_{{i}}" autocomplete="off">
                            <datalist id="itens">
                            {% for item in itens %}
                              <option value="[{{item.item_id}}] {{item}}">
                            {% endfor %}
                            </datalist>
                        <span class="input-group-text">Quantidade</span>
                      <input id="quantidade" class="form-control quantidade" type="number" name = "quantidade_{{i}}" value = 0 onchange="soma_total()" />
                        <span class="input-group-text">Desconto</span>
                      <input id="desconto" class="form-control desconto" type="number" name = "desconto_{{i}}" value = 0 />
                    </div>
                    {% endfor %}

                    <div class="col-3 mt-3">
                        <button type="reset" class="btn btn-secondary">Limpar</button>
                        <button type="submit" class="btn btn-primary">Cadastrar Venda</button>
                    </div>
                    <!--<p><B>TOTAL: </B></p>
                    <P id="total">0.00</P>-->
                </form>
        </div>

<!-- CRIAR A TABELA AQUI DENTRO -->

<table class="table table-hover">
    <caption>CADASTRO DE PRODUTO</caption>
    <thead>
    <tr>
       <th>Itens</th>
       <th>Quantidade</th>
       <th>Desconto</th>
    </tr>
    </thead>
    <tbody>
    {% for v in vendas %}
      <tr>
        <td>{{v.fk_item_id}}</td>
        <td>{{v.quantidade}}</td>
        <td>{{v.desconto}}</td>
      <td>
    <form action="deleta_venda" method="post">
         {% csrf_token %}

            <button type="submit" name="deletar" value="{{v.item_venda_id}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
            </button>
    </form>


        </td>
      </tr>
    {% endfor %}

    </tbody>
</table>



<!-- ATÉ AQUI------------------ -->


    </body>


</hmtl>